section#about {
  min-height: calc(100vh - 280px);
  padding: 50px 5%;
}

section#about {
  display: flex;
  justify-content: space-between;
}

section#about > * {
  flex-basis: 48%;
}

section#about img {
  width: 100%;
  height: auto;
  display: block;
}

section#about h3 {
  margin-top: 0;
  color: var(--blue);
}
