.header-site {
  box-sizing: border-box;
  height: var(--menu-heigth);
}

.header-site nav {
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.246);
}

.header-site nav .main {
  flex-basis: 20%;
  box-sizing: border-box;
}

.header-site nav .main a {
  display: block;
}

.header-site #mobile {
  transition: all .2s;
  font-size: 40px;
  cursor: pointer;
  display: none;
}

.header-site #mobile:hover {
  background-color: #007bff3a;
}


@media only screen and (max-width: 1000px) {
  .header-site {
    border-bottom: 2px solid var(--blue);
  }

  .header-site #mobile {
    padding: 19px 25px;
    display: block;
  }
  
  .header-site nav {
    padding: 0 0 0 5%;
  }
  
  .header-site nav .main {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
