.footer-site {
  border-top: 2px solid var(--blue);
}

.footer-site h3 {
  margin-top: 0;
}

.footer-site ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.footer-site ul li {
  flex-basis: 20%;
  padding: 2% 5% 0 5%;
}

.footer-site p {
  padding: 15px 0;
}

.footer-site h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--blue);
}

.footer-site a {
  color: var(--blue);
  padding: 3px 0;
  display: block;
  text-decoration: none;
}

.footer-site a:hover {
  text-decoration: underline;
}

.footer-site .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5%;
  border-top: 1px solid rgb(160, 160, 160);
}

@media only screen and (max-width: 1000px) {
  .footer-site ul {
    flex-direction: column;
  }

  .footer-site ul li {
    padding: 2% 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.151);
  }

  .footer-site ul li:first-child {
    border-top: none;
  }
}
