#work {
  min-height: calc(100vh - 370px);
  padding: 30px 5% 15px 5%; 
}

#work h2 {
  text-align: center;
  margin-top: 0;
}

#work {
  flex-grow: 1;
  box-sizing: border-box;
}

#work:nth-child(odd) {
  background-color:white ;
}

#form-work {
  box-sizing: border-box;
  padding: 30px;
  max-width: 500px;
  margin: 25px auto;
  display: block;
  background-color: rgb(243, 243, 243);
}

#form-work .form-field { 
  padding-left: 0;
  padding-right: 0;
}

#work button[type=submit] {
  margin-bottom: 0;
}
