.menu {
  margin: 0;
  padding: 0;
  z-index: 1;
  flex-basis: 70%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
} 

.menu li a,
.menu li a i {
  color: black;
  padding: 15px 10px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  line-height: 18px;
}

.menu li a:hover {
  color: var(--blue);
}

.menu li a:hover > i {
  color: var(--blue);
}

.menu li a:hover ~ .dropdown {
  transform: scaleY(1);
}


@media only screen and (max-width: 1000px) { 
  .menu {
    z-index: 2;
    width: 100%;
    opacity: .2;
    transform: scaleY(0);
    transform-origin: top;
    flex-direction: column;
    justify-content: center;
    top: var(--menu-heigth);
    left: 0;
    position: absolute;
    transition: all .3s;
  }

  .menu.show {
    opacity: 1;
    transform: scaleY(1);
  }

  .menu li {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid var(--blue);
  }

  .menu li a {
    width: 100%;
  }

  .menu li a,
  .menu li a i {
    padding: 0px;
    min-height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 22px;
    color: black;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu li a:hover ~ .dropdown {
    display: none;
    transform: scaleY(0);
  }
}
