#search {
  min-height: auto;
  padding: 50px 5%;
}

#form-search {
  display: block;
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--grey);
}

#form-search button[type=submit] {
  margin-top: 15px;
  margin-bottom: 0;
}

#form-search h3 {
  color: var(--blue);
  margin: 0;
}
